body{margin:0px;}
ul{list-style-type:none;
background-color:black;
margin:0px;
padding:0px;
overflow:hidden;}
li{
float:left;}
li a{
text-decoration:none;
color:white;
padding:8px 25px;
display:block;
margin:1px;
}
li a:hover
{
border:1px solid white;
}
section{height:55vh;}
footer{background-color:lightgrey;
text-align:center; height: 22vh;}
header{
    position: sticky;
}